# Shows each person under one name in git log/shortlog.
Abdullah Basarvi <blankdevtech@gmail.com> CODE-BLANK01 <blankdevtech@gmail.com>
Abdullah Basarvi <blankdevtech@gmail.com> <abdullahbasarvi@Abdullahs-MacBook-Air.local>
